-d uml 
-docletpath doclet/lib/ydoc.jar:doclet/resources:example/log4j-core-2.11.2.jar:example:log4j-1.2-api-2.11.2.jar
-doclet ydoc.doclets.YStandard
-sourcepath example/log4j-api/src/main/java:example/log4j-core/src/main/java
-classpath bin
-umlautogen
org.apache.logging.log4j
org.apache.logging.log4j.message
org.apache.logging.log4j.simple
org.apache.logging.log4j.spi
org.apache.logging.log4j.status
org.apache.logging.log4j.util
org.apache.logging.log4j.core
org.apache.logging.log4j.core.appender