# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
coverage/target
antlr/target
jaxb/target
mutationtesting/target
spotbugs/target
servlets/target
service-whiteboxtesting/target
quickcheck/target
service-blackboxtesting/target
xml-encoder/target
ajax/target
visitor/target
constant-inlining-and-folding/target
antlr/ast.dot
antlr/ast.png
antlr/ast.svg
antlr/csv.dot
antlr/csv.png
antlr/expressions1.dot
antlr/expressions1.png
antlr/expressions2.dot
antlr/expressions2.png
antlr/expressions2.svg
antlr/json.dot
antlr/json.png
antlr/json.svg
codeql/codeql_db
codeql/target
codeql/queries/.cache
codeql/.cache
codeql-out.txt
